language: python
env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=doc VIRTUALENV_SYSTEM_SITE_PACKAGES=true
before_install:
  - pip install --quiet --use-mirrors tox
  # Install GSL (and log it's version number)
  - apt-cache show libgsl0-dev | grep -i version
  - sudo apt-get install -qq libgsl0-dev
  - if [ "$TOXENV" = doc ]; then
      sudo apt-get install -qq python-matplotlib;
    fi
script:
  - tox
after_script:
  - ls .tox/$TOXENV/lib/*/site-packages/
